PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/five_college_connector
DB_SSL=false

AUTH_TOKEN_SECRET=replace_me
AUTH_TOKEN_EXPIRES_IN_HOURS=24

ALLOWED_EMAIL_DOMAINS=umass.edu,amherst.edu,smith.edu,hampshire.edu,mtholyoke.edu
